* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

.container {
	max-width: 900px;
	margin: 0 auto;
}

.slider {
	position: relative;
}

.slide {
	display: none;
	position: relative;
}

.slide__content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 1.5rem;
	align-items: center;
	color: white;
	padding-bottom: 2rem;
	background: rgb(0, 0, 0);
	background: -moz-linear-gradient(0deg,
			rgba(0, 0, 0, 0.8519782913165266) 0%,
			rgba(0, 0, 0, 0) 100%);
	background: -webkit-linear-gradient(0deg,
			rgba(0, 0, 0, 0.8519782913165266) 0%,
			rgba(0, 0, 0, 0) 100%);
	background: linear-gradient(0deg,
			rgba(0, 0, 0, 0.8519782913165266) 0%,
			rgba(0, 0, 0, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#000000", GradientType=1);
}

.slide__title {
	font-size: 3rem;
	font-weight: 700;
}

.slide__description {
	width: 60%;
	font-size: 0.75rem;
	line-height: 1.7em;
}

.slide.active {
	display: block;
}

.slide img {
	width: 100%;
	height: 350px;
	object-fit: cover;
	object-position: center;
	display: block;
}

.arrows {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
	font-size: 1.75rem;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	color: tomato;
}

.arrow-prev,
.arrow-next {
	cursor: pointer;
}

/* #region Dots */
.dots {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	gap: 10px;
}

.dot {
	width: 10px;
	aspect-ratio: 1;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.2);
	transition: background-color 150ms linear;
	cursor: pointer;
}

.dot.active {
	background-color: rgba(255, 140, 0, 0.4);
	transition: background-color 150ms linear;
}

.slider:hover .dot.active {
	background-color: rgba(255, 140, 0, 1);
}

.slider:hover .dot {
	background-color: rgba(255, 255, 255, 0.8);
}

/* #endregion Dots */